body {
    background-color: rgb(164, 204, 217);
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 20px;
}

h1,
h2 {
    color: #F5F0CD;
    text-align: center;
}

.container li a {
    text-align: center;
    font-family: cursive;
    font-size: 15px;
}

nav {
    text-align: center;
    display: inline;
    width: 100%;
}

nav a {
    width: 20%;
    text-decoration: none;
    color: #EBFFD8
}

nav ul li {
    text-align: center;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    margin: 0 10px;
    font-family: cursive;
}

nav ul li:hover {
    background-color: #E3CAA5;
    color: #54c1cf;
    border-radius: 5px;
}
.center-section {
    text-align: center;
}

.center-section ul {
    display: inline-block;
    text-align: left;
}

#friends{
    border:2px dashed #EBFFD8;
    background-color: #F2E2B1;
}

#diary{
    border:2px dashed #F5F0CD;
    background-color: #183B4E;
}

#gallery{
    border:2px dashed #FAF6E9;
    background-color: #AAB99A;
}

button{
    position: fixed;
    bottom: 20px;
    float: right;
    right: 5%;
    left: 95%;
    padding: .5px;
}